@using WeatherApp.Models
@model CityWeather

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>City Weather</title>
    <link rel="stylesheet" href="~/Style.css" />

</head>

<body>
    <div class="container">
        <header><h1>Weather App</h1></header>

        <div class="widget">
            <div class="widget-item @(Model.TemperatureFahrenheit < 32 ? "cold" : Model.TemperatureFahrenheit < 60 ? "cool" : Model.TemperatureFahrenheit < 80 ? "mild" : "hot")">
                    <p>@Model.CityUniqueCode</p>
                    <p>@Model.CityName</p>
                    <p>@Model.DateAndTime.ToString("HH:mm")</p>

                    

                    <h1>@Model.TemperatureFahrenheit<sup>°F</sup></h1>
                </div>
            

        </div>


    </div>
</body>
